/* * {
    outline: 1px solid red;
  } */
#section_1{
    
    margin: auto;
    background: #f9fcff 0% 0% no-repeat padding-box;
    display: flex;
  margin-top: 100px;
}

#section_1>div{
    margin-left: 10%;
    text-align: left;
    padding: 20px;
    border: 1px solid red;
    width: 40%;
}
#section_1>div>h1{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.14px;
    color: #363636;
    opacity: 1;
}

#primary_button {
    border: 2px solid #ffa200;
    background: #ffa200;
    border-radius: 8px;
    opacity: 1;
    text-align: center;
    letter-spacing: 0.54px;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
  }

#secondary_button{
    cursor: pointer;
  border: 2px solid #ffa200;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.54px;
  color: #ffa200;
  opacity: 1;
  padding: 10px 25px 10px 25px;
  background-color: transparent;
}

#section_2 {
    display: flex;
    max-width: 100vw;
    padding: 80px 0px 80px 0;
    align-items: center;
}
#section_2_heading{
    text-align: left;
    margin-left: 10%;
    text-align: left;
    padding: 20px;
    /* border: 1px solid red; */
    width: 40%;
    /* height: 400px; */

}
#section_2_heading>div{
    border: 1px solid red;
    padding-left: 10px;
    letter-spacing: 0.4px;
    border-left: 6px solid #1da1f2;
}
#section_2_heading>p{
    font-size: 22px;
}

#engineer_div{
    width: 50%;
    overflow: hidden;
    /* max-width: 90%;
    border: 2px solid blue; */
    /* position: relative; */
    /* height: 40vw; */
}


#enginner_img {
    /* position: absolute; */
    /* transform: translateY(-50%);
    right:-70px; */
    /* border: 2px solid red;
    border-radius: 50%;
    border: 55px solid #f7f7f7;
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    max-width: 80%; */
    /* margin-top: -300px; */
    /* overflow: hidden; */
}
/* #enginner_img{
    position: absolute;
   left: 110px; 
  transform: translateY(-45%); 
  border-radius: 50%;
  border: 55px solid #f7f7f7;
  width: 40vw;
  height: 40vw;
  object-fit: cover;
} */

#engineer_img{
    width: 50%;
    border-radius: 50%;
  border: 35px solid #f7f7f7;
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  margin-left: 15%;
 
}
@media (max-width: 600px) {
    #section_1>div{
        width: 90%;
        border: 1px solid red;
        margin: auto;
    }
  #section_2{
    flex-direction: column;
  }
  #section_2_heading{
    width: 90%;
    margin: auto;
}
#engineer_div{
    margin-top: 5%;
    border: 1px solid red;
    width: 90%;
  }
}

