/* * {
    outline: 1px solid red;
  } */
#section_1{
    
    margin: auto;
    background: #f9fcff 0% 0% no-repeat padding-box;
    display: flex;
  margin-top: 100px;
}

#section_1>div{
    margin-left: 10%;
    text-align: left;
    padding: 20px;
    border: 1px solid red;
    width: 40%;
}
#section_1>div>h1{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.14px;
    color: #363636;
    opacity: 1;
}

#primary_button {
    border: 2px solid #ffa200;
    background: #ffa200;
    border-radius: 8px;
    opacity: 1;
    text-align: center;
    letter-spacing: 0.54px;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
  }

#secondary_button{
    cursor: pointer;
  border: 2px solid #ffa200;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.54px;
  color: #ffa200;
  opacity: 1;
  padding: 10px 25px 10px 25px;
  background-color: transparent;
}

#section_2 {
    display: flex;
    max-width: 100vw;
    padding: 80px 0px 80px 0;
    /* align-items: center; */
}
#section_2_heading{
    text-align: left;
    margin-left: 10%;
    text-align: left;
    padding: 20px;
    /* border: 1px solid red; */
    width: 40%;
    /* height: 400px; */

}
#section_2_heading>div{
    border: 1px solid red;
    padding-left: 10px;
    letter-spacing: 0.4px;
    border-left: 6px solid #1da1f2;
}
#section_2_heading>p{
    font-size: 22px;
}

#engineer_div{
  position: relative;
    width: 50%;
    overflow: hidden;
    /* max-width: 90%;
    border: 2px solid blue; */
    /* position: relative; */
    /* height: 40vw; */
}

#engineer_img{
  /* display: none; */
    width: 50%;
    border-radius: 50%;
  border: 35px solid #f7f7f7;
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  margin-left: 15%;

}

#vehicle_catalog{
  display: flex;
  padding: 10px 20px 10px 20px;
  /* border: 1px solid red; */
  /* width: 80%; */
  border-radius: 25px;
  justify-content: space-around;
  /* z-index: 50; */
  /* margin-top: -15%; */
  background-color: #ffffff;
  /* margin-left: 5%; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: absolute;
  /* top: 450px;
  left: 100px; */
  bottom: 10px;
  left: 10px;
  z-index: 1;
  text-align: center;
  line-height: 0.4;
}
#vehicle_catalog>div{
  border-right: 2px solid gainsboro;
  padding: 0px 20px 0px 20px;
}
#vehicle_catalog>div:nth-child(4){
  border-right: none;
}
#section_6_heading{
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
#section_6_heading>span{
  color: #1da1f2;
}
#grid-images{
  display: grid;
  /* border: 1px solid red; */
  margin: auto;
  width: 60%;
  grid-gap: 25px;
  grid-template-columns: repeat(4,1fr);
  margin-bottom: 5%;
}
#grid-images>div{
  background-color: #1da1f2;
  /* width: 150px; */
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: whitesmoke;
  border-radius: 20px;
}
#grid-images>div:nth-child(1) {
  /* padding: 20px;
  border: 1px solid red; */
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 400px;
}
#mentors_div{
  display: flex;
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  /* height: 200px; */
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-between;
}
#mentors_div>img{
  width: 25%;
  /* height: 200px; */
}
#section_4{
  background-color: #f8f8f8;
  padding: 4%;
}
#investors_div{
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-gap: 10px; */
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

#investors_div>img{
  width: 55%;
  margin-left: 25%;
  /* height: 200px; */
}
@media (max-width: 800px) {
  #mentors_div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mentors_div>img{
    width: 50%;
  }
}

@media (max-width: 600px) {
    #section_1>div{
        width: 90%;
        border: 1px solid red;
        margin: auto;
    }
  #section_2{
    flex-direction: column;
  }
  #section_2_heading{
    width: 90%;
    margin: auto;
}
#engineer_div{
    margin-top: 5%;
    border: 1px solid red;
    width: 100%;
  }
  #vehicle_catalog{
    width: 80%;
    left: 20px;
    /* text-align: le/ft; */
    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
    height: 100px;
    line-height: 0.4;
  }
  #engineer_img{
    margin: auto;
    width: 80vw;
    height: 80vw;
  }
  #vehicle_catalog>div{
    padding: 10px;
  }
  #grid-images {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
  #grid-images > div:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

